@font-face {
  font-family: "Gotham";
  src: url(../Gotham-Font/Gotham/Gotham-Thin.otf);
}

@font-face {
  font-family: "Gothams";
  src: url(../Gotham-Font/Gotham/Gotham-Light.otf);
}

html {
  margin: 0px;
  padding: 0px;
}

/* Header */

.background-hero {
  height: 100vh;
  width: 100%;
  background-image: url("/bg.jpg");
  background-position: center;
  background-size: cover;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 100px;
  color: #000;
}

.hero h1 {
  font-family: "Gothams";
  font-size: 22px;
  margin: 0;
  padding-top: 10px;
}

.hero h3 {
  font-family: "Gothams";
  font-size: 18px;
  margin: 0;
  padding-top: 20px;
  cursor: pointer;
}

.navi a {
  font-family: "Gothams";
  padding: 0px 30px;
  font-size: 18px;
  background-color: transparent;
  transition: 0.2s;
}

.navi a:hover {
  background: rgb(247, 188, 88);
  color: #fff;
  padding: 18px;
}

.container-main {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80vh;
  padding-left: 7%;
}

.main-title h1 {
  font-size: 70px;
  margin: 10px 0px;
  font-family: "Gothams";
}

.main-title p {
  font-size: 23px;
  margin: 20px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-title .button {
  border: transparent;
  font-size: 16px;
  padding: 10px 80px;
  background: rgb(247, 188, 88);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.main-title .button:hover {
  color: #fff;
  background-color: rgb(0, 98, 255);
}

.mobile-nav {
  display: none;
  color: #000;
}

.mobile-nav button {
  background-color: rgb(247, 188, 88);
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.mobile-nav button:hover {
  background-color: rgb(0, 98, 255);
}

.mobile-nav-content {
  display: none;
  position: fixed;
  padding: 20px;
  top: 50px;
  left: 70%;
  right: 4%;
  border-radius: 6px;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
}

.mobile-nav-content.visible {
  display: flex;
  padding: 20px;
  margin-top: 20px;
}

.mobile-nav-content a {
  text-align: center;
  padding: 10px 6px;
  font-family: "Gothams";
}

.mobile-main {
  width: 50%;
}

/* End Header */

/* CONTENT */

/* About */

.about {
  background-color: #fff;
  height: 85vh;
}

.about-header {
  display: block;
  justify-content: center;
  text-align: center;
  font-family: "Gothams";
}

.about-header h4 {
  margin: 0px;
  padding-top: 40px;
}

.about-header p {
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
}

.content-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4% 8%;
  font-family: "Gothams";
}

.content-main h2 {
  padding: 0px;
  margin-top: 0px;
}

.content-main p {
  padding: 0px;
  margin-bottom: 38px;
}

.content-img {
  padding: 0px 6%;
  text-align: center;
}

.content-main img {
  height: 50vh;
}

.content-btn {
  padding-top: 24px;
}

.content-main button {
  border: transparent;
  font-size: 16px;
  padding: 10px 80px;
  background: rgb(247, 188, 88);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.content-main button:hover {
  color: #fff;
  background-color: rgb(0, 98, 255);
}

/* About End */

/* Service */

.service {
  background-color: rgb(235, 235, 235);
  height: 65vh;
}

.content-service {
  display: block;
  justify-content: center;
  text-align: center;
  font-family: "Gothams";
}

.service h4 {
  margin: 0px;
  padding-top: 40px;
}

.service p {
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
}

.main-service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4% 8%;
}

.main-service img {
  height: 30vh;
  width: 100%;
  padding: 0px 15px;
}

/* Service End */

/* News */

.news {
  height: 80vh;
}

.news-header {
  display: block;
  justify-content: center;
  text-align: center;
  font-family: "Gothams";
}

.news-header h4 {
  margin: 0px;
  padding-top: 40px;
}

.news-header p {
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
}

.content-news {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 4% 8%;
  font-family: "Gothams";
}

.img-news {
  margin: 0px 50px 0px 50px;
  background: rgb(247, 188, 88);
}

.content-news img {
  height: 40vh;
}

.content-news h3 {
  text-align: center;
  margin: 0px;
  padding: 15px;
  color: #fff;
  font-size: 26px;
}

.title-news h2 {
  margin-top: 0px;
  font-size: 18px;
}

.title-news h5 {
  font-size: 12px;
  color: rgb(247, 188, 88);
}

.title-news p {
  font-size: 12px;
}

.title-news button {
  border: transparent;
  background-color: transparent;
  padding: 0px;
  padding-top: 14px;
  padding-bottom: 20px;
  transition: 0.3s;
  font-size: 10px;
}

.title-news button:hover {
  color: rgb(0, 81, 255);
}

/* News End */

/* CONTENT END */

/* FOOTER */

.footer {
  background-color: rgb(235, 235, 235);
  width: 100%;
}

.footer-header {
  display: block;
  justify-content: center;
  text-align: center;
  font-family: "Gothams";
}

.footer-header input {
  border: transparent;
  margin: 20px 0px;
  margin-bottom: 60px;
  padding: 10px 30px;
  padding-right: 200px;
}

.footer-header button {
  padding: 10px 20px;
  border: transparent;
  background-color: rgb(247, 188, 88);
  color: #fff;
  transition: 0.3s;
}

.footer-header button:hover {
  color: #fff;
  background-color: rgb(0, 98, 255);
}

.footer-header h4 {
  margin: 0px;
  padding-top: 40px;
}

.footer-header p {
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
}

.content-footer {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px auto;
  grid-template-rows: auto;
  justify-content: center;
}

.content-footer img {
  width: auto;
  height: 28vh;
  margin: 0px 10px;
  border: 5px solid;
  align-items: center;
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0px 6px 3px 0px #b3b3b3;
}

.footer-buttom {
  background-color: rgb(32, 32, 32);
  color: #fff;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  justify-content: space-between;
  align-items: center;
  font-family: "Gothams";
  margin-top: 70px;
  height: 20vh;
}

.footer-buttom h2 {
  font-size: 14px;
}

.footer-buttom p {
  font-size: 12px;
}

.items-footer {
  padding: 0px 50px;
}

/* FOOTER END */

/* Responsive */

/* Phones, 600px and down  */

.feature-images-container {
  display: flex;
  justify-content: center;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
  /* Header */

  /* .background-hero {
    height: 100vh;
    width: 100%;
    background-image: url("/bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 100px;
  }

  .hero h1 {
    font-family: "Gothams";
    font-size: 22px;
    margin: 0;
    padding-top: 10px;
  }

  .hero h3 {
    font-family: "Gothams";
    font-size: 18px;
    margin: 0;
    padding-top: 20px;
    cursor: pointer;
  }

  .navi a {
    font-family: "Gothams";
    padding: 0px 30px;
    font-size: 18px;
    background-color: transparent;
    transition: 0.2s;
  }

  .navi a:hover {
    background: rgb(247, 188, 88);
    color: #fff;
    padding: 18px;
  }

  .container-main {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80vh;
    padding-left: 7%;
  }

  .main-title h1 {
    font-size: 70px;
    margin: 10px 0px;
    font-family: "Gothams";
  }

  .main-title p {
    font-size: 23px;
    margin: 20px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .main-title .button {
    border: transparent;
    font-size: 16px;
    padding: 10px 80px;
    background: rgb(247, 188, 88);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }

  .main-title .button:hover {
    color: #fff;
    background-color: rgb(0, 98, 255);
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav button {
    background-color: rgb(247, 188, 88);
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }

  .mobile-nav button:hover {
    background-color: rgb(0, 98, 255);
  }

  .mobile-nav-content {
    display: none;
    position: fixed;
    padding: 10px;
    top: 50px;
    left: 70%;
    right: 4%;
    border-radius: 6px;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
  }

  .mobile-nav-content.visible {
    display: flex;
  }

  .mobile-nav-content a {
    text-align: center;
    padding: 10px 6px;
    font-family: "Gothams";
  } */

  /* End Header */

  /* CONTENT */

  /* About */

  /* .about {
    background-color: #fff;
    height: 85vh;
  }

  .about-header {
    display: block;
    justify-content: center;
    text-align: center;
    font-family: "Gothams";
  }

  .about-header h4 {
    margin: 0px;
    padding-top: 40px;
  }

  .about-header p {
    margin: 0px;
    padding-top: 10px;
    font-size: 12px;
  }

  .content-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4% 8%;
    font-family: "Gothams";
  }

  .content-main h2 {
    padding: 0px;
    margin-top: 0px;
  }

  .content-main p {
    padding: 0px;
    margin-bottom: 38px;
  }

  .content-img {
    padding: 0px 6%;
    text-align: center;
  }

  .content-main img {
    height: 50vh;
  }

  .content-btn {
    padding-top: 24px;
  }

  .content-main button {
    border: transparent;
    font-size: 16px;
    padding: 10px 80px;
    background: rgb(247, 188, 88);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }

  .content-main button:hover {
    color: #fff;
    background-color: rgb(0, 98, 255);
  } */

  /* About End */

  /* Service */

  /* .service {
    background-color: rgb(235, 235, 235);
    height: 65vh;
  }

  .content-service {
    display: block;
    justify-content: center;
    text-align: center;
    font-family: "Gothams";
  }

  .service h4 {
    margin: 0px;
    padding-top: 40px;
  }

  .service p {
    margin: 0px;
    padding-top: 10px;
    font-size: 12px;
  }

  .main-service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4% 8%;
  }

  .service img {
    height: 34vh;
    width: 100%;
    padding: 0px 15px;
  } */

  /* Service End */

  /* News */

  /* .news {
    height: 80vh;
  }

  .news-header {
    display: block;
    justify-content: center;
    text-align: center;
    font-family: "Gothams";
  }

  .news-header h4 {
    margin: 0px;
    padding-top: 40px;
  }

  .news-header p {
    margin: 0px;
    padding-top: 10px;
    font-size: 12px;
  }

  .content-news {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 4% 8%;
    font-family: "Gothams";
  }

  .img-news {
    margin: 0px 50px 0px 50px;
    background: rgb(247, 188, 88);
  }

  .content-news img {
    height: 40vh;
  }

  .content-news h3 {
    text-align: center;
    margin: 0px;
    padding: 15px;
    color: #fff;
    font-size: 26px;
  }

  .title-news h2 {
    margin-top: 0px;
    font-size: 18px;
  }

  .title-news h5 {
    font-size: 12px;
    color: rgb(247, 188, 88);
  }

  .title-news p {
    font-size: 12px;
  }

  .title-news button {
    border: transparent;
    background-color: transparent;
    padding: 0px;
    padding-top: 14px;
    padding-bottom: 20px;
    transition: 0.3s;
    font-size: 10px;
  }

  .title-news button:hover {
    color: rgb(0, 81, 255);
  } */

  /* News End */

  /* CONTENT END */

  /* FOOTER */

  /* .footer {
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 100vh;
  }

  .footer-header {
    display: block;
    justify-content: center;
    text-align: center;
    font-family: "Gothams";
  }

  .footer-header input {
    border: transparent;
    margin: 20px 0px;
    margin-bottom: 60px;
    padding: 10px 30px;
    padding-right: 200px;
  }

  .footer-header button {
    padding: 10px 20px;
    border: transparent;
    background-color: rgb(247, 188, 88);
    color: #fff;
    transition: 0.3s;
  }

  .footer-header button:hover {
    color: #fff;
    background-color: rgb(0, 98, 255);
  }

  .footer-header h4 {
    margin: 0px;
    padding-top: 40px;
  }

  .footer-header p {
    margin: 0px;
    padding-top: 10px;
    font-size: 12px;
  }

  .content-footer {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px auto;
    grid-template-rows: auto;
    justify-content: center;
  }

  .content-footer img {
    width: 28vh;
    height: 28vh;
    padding: 40px;
    margin: 0px 10px;
    border: 5px solid;
    align-items: center;
    background-color: rgb(230, 230, 230);
    box-shadow: inset 0px 6px 3px 0px #b3b3b3;
  }

  .footer-buttom {
    background-color: rgb(32, 32, 32);
    color: #fff;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    justify-content: space-between;
    align-items: center;
    font-family: "Gothams";
    margin-top: 70px;
    height: 20vh;
  }

  .footer-buttom h2 {
    font-size: 14px;
  }

  .footer-buttom p {
    font-size: 12px;
  }

  .items-footer {
    padding: 0px 50px;
  }

  .mobile-footer {
  } */

  /* FOOTER END */
}

@media only screen and (max-width: 600px) {
  /* Header */

  .background-hero {
    width: 100%;
    height: auto;
    background-image: url("/bg.jpg");
    background-position: center;
    background-size: cover;
  }

  .mobile-nav h2 {
    font-size: 17px;
    font-family: "Gothams";
    justify-content: flex-start;
  }

  .hero {
    padding: 0;
  }

  .hero h1 {
    display: none;
  }

  .hero h3 {
    display: none;
  }

  .navi {
    display: none;
  }

  .mobile-nav {
    height: 80px;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }

  .mobile-nav button {
    border: none;
    padding: 5px 10px;
    font-size: 24px;
    justify-content: flex-end;
  }

  .main-title h1 {
    font-size: 35px;
  }

  .main-title p {
    font-size: 16px;
    margin: 10px 0px;
  }

  .main-title .button {
    padding: 8px 30px;
    font-size: 10px;
  }

  /* End Header */

  /* CONTENT MOBILE */

  /* About */

  .about {
    background-color: #fff;
    width: 100%;
    height: auto;
  }

  .about-header h4 {
    font-size: 12px;
  }

  .about-header p {
    font-size: 8px;
  }

  .content-main {
    grid-template-columns: 1fr;
  }

  .content-img img {
    height: 26vh;
    width: auto;
  }

  .title-main {
    margin: 0px 40px;
  }

  .content-main button {
    padding: 6px 20px;
    margin-bottom: 14px;
    font-size: 12px;
  }

  .content-main h2 {
    font-size: 12px;
  }

  .content-main p {
    font-size: 10px;
  }

  /* About End */

  /* Service */

  .service {
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: auto;
  }

  .content-service h4 {
    font-size: 12px;
  }

  .content-service p {
    font-size: 8px;
  }

  .main-service {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .main-service img {
    height: 30vh;
    width: auto;
    margin: 0 auto;
    padding: 20px 15px;
  }

  /* Serice End */

  /* News */

  .news {
    height: auto;
    width: 100%;
  }

  .news-header h4 {
    font-size: 12px;
  }

  .news-header p {
    font-size: 8px;
  }

  .content-news {
    display: grid;
    grid-template-columns: 1fr;
    margin: 6% 8%;
    font-family: "Gothams";
  }

  .content-news h3 {
    font-size: 18px;
    padding: 14px 0px;
  }

  .title-news {
    margin: 0px 40px;
  }

  .title-news h2 {
    margin-top: 20px;
    font-size: 14px;
  }

  .title-news h5 {
    font-size: 10px;
  }

  .title-news p {
    font-size: 10px;
  }

  .img-news {
    background: rgb(247, 188, 88);
    margin: auto;
  }

  .img-news img {
    height: 25vh;
  }

  /* News End */

  /* CONTENT END */

  /* FOOTER */

  .footer {
    width: 100%;
    height: 70vh;
  }

  .footer-header input {
    border: transparent;
    margin: 10px 0px;
    margin-bottom: 60px;
    padding: 10px 30px;
  }

  .footer-header button {
    padding: 10px;
  }

  .feature-images-container {
    display: block;
  }

  .feature-images-container img {
    height: 15vh;
    border: 5px solid;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    box-shadow: inset 0px 6px 3px 0px #b3b3b3;
  }

  .img-footer {
    display: grid;
    grid-auto-flow: column;
    gap: 24px;
    padding: 0px 20px;
  }

  .items-footer {
    align-items: center;
    text-align: start;
    padding: 8px 18px;
    margin: 0 auto;
  }

  .footer-header h4 {
    font-size: 12px;
  }

  .footer-header p div {
    font-size: 8px;
  }

  .footer-buttom {
    margin-top: 19%;
  }

  .footer-buttom h2 {
    font-size: 8px;
  }

  .footer-buttom p {
    margin-bottom: 10px;
    font-size: 6px;
  }
}
