@font-face {
  font-family: "Gotham";
  src: url(../Gotham-Font/Gotham/Gotham-Thin.otf);
}

@font-face {
  font-family: "Gothams";
  src: url(../Gotham-Font/Gotham/Gotham-Light.otf);
}

.background {
  background-image: url(/bg.jpg);
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  font-size: 16px;
  padding: 38px 20px;
}

ul {
  padding: 40px 0px;
  margin: 0px;
}
li {
  list-style: none;
  display: inline;
}
li a {
  background: transparent;
}
li a:hover {
  background: rgb(247, 188, 88);
  color: #000;
}
.navi {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: "Gothams";
  font-weight: bold;
}

.logo {
  padding-top: 36px;
  padding-left: 145px;
  font-size: 24px;
}

.contact {
  padding-top: 36px;
  padding-right: 150px;
  font-size: 16px;
  font-family: "Gothams";
}

.row {
  display: flex;
  height: 100%;
  height: 80vh;
  align-items: center;
}

.col {
  flex-basis: 50%;
  margin-left: 10%;
}

h1 {
  color: #000;
  font-size: 70px;
  margin: 0;
  font-family: "Gothams";
}

p {
  color: #000;
  font-size: 24px;
  line-height: 16px;
  font-family: "Ghotams";
}

.navmenu {
  width: 100%;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffb740;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 12px 8px;
  width: 150px;
  transition: all 0.2s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Page About */
section {
  width: 100%;
  height: 80vh;
}

.heading {
  text-align: center;
  color: #000;
  padding-top: 30px;
}

h2 {
  color: #000;
  font-size: 18px;
}

.p {
  color: rgb(170, 170, 170);
  font-size: 12px;
  padding-top: 6px;
  margin: 0px;
  color: #000;
}

.container-about {
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "nav main"
    "footer main";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1.3fr;
  padding: 0% 15%;
}

.header-about {
  padding-top: 4%;
  padding-bottom: 2%;
  grid-area: header;
  text-align: center;
}

aside {
  line-height: 30px;
  grid-area: aside;
  font-family: "Gothams";
}

main {
  box-sizing: border-box;
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
}

img {
  width: 90%;
  height: 48vh;
}

footer {
  padding: 20px 0px;
  grid-area: footer;
}

.heading-header {
  color: #000;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}

.paragraf-about {
  color: rgb(158, 158, 158);
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
}

p {
  line-height: 22px;
  font-family: "Gothams";
  font-size: 14px;
}

/* End Page About */

/* Page Service */

.container-service {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  align-items: center;
  padding: 2% 7%;
}

.items {
  width: 100%;
  height: 100%;
  padding: 0px 4%;
}

.display {
  padding: 0% 8% 0% 8%;
  width: 100%;
  height: 60vh;
  background-color: rgb(238, 238, 238);
}

.heading-service {
  text-align: center;
  color: #000;
  padding-bottom: 30px;
}

/* End Page Service */

/* Page News */

.container-news {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0% 10%;
}

.display-news {
  width: 100%;
  height: 90vh;
  background-color: #fff;
}

.heading-news {
  text-align: center;
  color: #000;
  padding-bottom: 30px;
}

.item {
  width: 100%;
  height: 50%;
  margin: 0px;
}

.flex {
  margin: 50px;
  background-color: #ffb740;
}

.title {
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-size: 28px;
  font-family: "Gothams";
  color: #fff;
  font-weight: 600;
}

.description-news {
  font-family: "Gothams";
}

h4 {
  margin: 0px;
  padding: 0px;
  color: #ffb740;
  font-size: 12px;
  font-family: "Gothams";
}

.btn-news {
  background-color: transparent;
  border: transparent;
  font-weight: bold;
  font-family: "Gothams";
  font-size: 12px;
  padding: 0px;
}

/* End Page News */

.input {
  width: 129%;
  padding: 10px 20px;
  border: transparent;
  background-color: rgb(253, 253, 253);
  font-size: 16px;
  font-family: "Gothams";
}

.h3 {
  text-align: center;
  margin: 0px;
  font-family: "Gothams";
  padding-top: 60px;
}

.p {
  text-align: center;
  font-family: "Gothams";
  padding-bottom: 10px;
  color: rgb(158, 158, 158);
}

.form {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 36px;
  width: 50%;
  margin: 0 auto;
}

.btn {
  padding: 9px;
  margin-left: 100px;
  border: transparent;
  background-color: #ffb740;
  color: #fff;
  font-size: 18px;
}

.display-footer {
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 100vh;
}

.footer {
  padding-bottom: 5%;
}

.container-footer {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px auto;
  grid-template-rows: auto;
  justify-content: center;
}

.items-footer {
  width: auto;
  height: 28vh;
  padding: 40px;
  margin: 0px 10px;
  border: 5px solid;
  align-items: center;
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0px 6px 3px 0px #b3b3b3;
}

.footer-buttom {
  display: grid;
  grid-template-columns: 450px auto 0.6fr;
  width: 100%;
  height: 25vh;
  align-items: center;
  padding: 0px 10%;
  background-color: rgb(32, 32, 32);
  color: #fff;

  font-family: "Gothams";
}

.description-footer {
  padding: 0% 6%;
  font-size: 12px;
}

.h2 {
  color: #fff;
  text-align: start;
  margin: 0;
  font-size: 14px;
}

.title-ftr {
  padding-top: 30px;
}

@media only screen and (max-width: 600px) {
  .navmenu {
    display: none;
  }

  .container-product {
    grid-template-columns: 1fr;
  }
}
